site_name: McKraken's Musings
site_description: Documentation Site
site_author: "McKraken"
site_url: https://pages.github.io/mckraken/mckrakens-musings/
repo_name: mckraken/mckrakens-musings
repo_url: https://github.com/mckraken/mckrakens-musings
# EDIT LINES ABOVE THIS ONE FOR A NEW REPOSITORY
edit_uri: "edit/main/docs/"
docs_dir: docs
site_dir: site
remote_branch: gh-pages

plugins:
  - search
  - awesome-nav
  - macros
  - git-revision-date-localized
  - git-authors
  - blog:
      blog_dir: musings
      blog_toc: true
      post_url_format: "{date}/{slug}"
      post_date_format: medium
  - tags:
      tags_slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
      tags_sort_by: !!python/name:material.plugins.tags.tag_name_casefold

theme:
  name: material
  custom_dir: docs/assets/overrides
  language: en
  features:
    - search.highlight
    - search.share
    - content.code.annotate
    - navigation.top
    - navigation.indexes
    - content.action.edit
  palette:
    - scheme: elastic-engineering-light
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
    - scheme: slate
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
  icon:
    repo: fontawesome/brands/github
    edit: material/pencil
    admonition:
      quote: material/code-tags

extra_css:
  - assets/stylesheets/extra.css

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - meta
  - footnotes
  - codehilite:
      guess_lang: false
  - toc:
      permalink: true
  # - pymdownx.emoji:
  #     emoji_index: !!python/name:material.extensions.emoji.twemoji
  #     emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.details
  - pymdownx.tasklist:
      clickable_checkbox: false
      custom_checkbox: true
