# See: https://pre-commit.com/
#
# Install pre-commit
#   pip install pre-commit -or- brew install pre-commit
#
# Apply to all files without committing:
#   pre-commit run --all-files
#
# Update this file:
#   pre-commit autoupdate

default_language_version:
  python: python3.13

minimum_pre_commit_version: 3.3.0

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-json
      - id: check-merge-conflict
      - id: check-yaml
        args:
          - --unsafe # needed for parsing CFN
      - id: end-of-file-fixer
        exclude: |
          (?x)^(
            .*\.json-result|
            .*\.min.js|
            .*\.min.css.*
          )$
      - id: trailing-whitespace
        exclude_types: ["markdown"]
      - id: mixed-line-ending
      - id: check-case-conflict
      - id: detect-aws-credentials
        args:
          - --allow-missing-credentials
      - id: detect-private-key
