name: build and push live docs
on:
  push:
    branches:
      - main
permissions:
  contents: write
env:
  parent_repo: none
jobs:
  deploy_docs:
    runs-on: ubuntu-latest
    steps:
      - name: check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
      - name: set up python
        run: uv python install
      - name: Install dependencies
        run: uv sync --group dev --no-editable
      - run: uv run mkdocs gh-deploy -f mkdocs.yml --force
